<a href="https://colab.research.google.com/github/mubinamallika/cse309/blob/master/A2_CT_2_18101006.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1)Write a python code to determine odd or even.

In [ ]:
x=int(input())

if (x%2)==0 :
  print("even")
else:
  print("odd")

19
odd

2) Write a python program to calculate the letter grade of an H.S.C exam. The exam mark will be given as input. Follow the standard rule for grading.

In [ ]:
a = float(input())

if a>=80 and a<=100 :
  print("A+")
elif a>=70 and a<=79 :
  print("A")
elif a>=60 and a<=69 :
  print("A-") 
elif a>=50 and a<=59 :
  print("B") 
elif a>=40 and a<=49 :
  print("C")
elif a>=33 and a<=39 :
  print("D") 
else :  
  print("Fail")

89
A+

4)Choose variables of appropriate data type to store the information of the following table in a way that if someone inputs the ID, it will show all the information of that student.

In [ ]:
d = {
    1 : {
        "first name" : "Peter",
         "last name" : "Lee",
         "email" : "plee@university.edu",
         "year_of_birth" : 1992
    },
     
     2 : {
         "first name" : "Jonathan",
         "last name" : "Edwards",
         "email" : "jedwards@university.edu",
         "year_of_birth" : 1994
     },
     3 :
     {
         "first name" : "Marilyn",
         "last name" : "Johnson",
         "email" : "mjohnson@university.edu",
         "year_of_birth" : 1993
     },
     6 :
     {
         "first name" : "Joe",
         "last name" : "Kim",
         "email" : "jkim@university.edu",
         "year_of_birth" : 1992
     },
     12 :
     {
         "first name" : "Heley",
         "last name" : "Martinez",
         "email" : "hmartinez@university.edu",
         "year_of_birth" : 1993
     }

}

In [ ]:
d[12]

{'email': 'hmartinez@university.edu',
 'first name': 'Heley',
 'last name': 'Martinez',
 'year_of_birth': 1993}